Source: cerbere
Section: utils
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               cmake (>= 2.6),
               libglib2.0-dev (>= 2.28),
               valac (>= 0.10),
               libgee-dev (>= 0.5.3)
Standards-Version: 3.8.4
Vcs-Bzr: lp:cerbere
Vcs-Browser: https://code.launchpad.net/~elementaryart/cerbere/cerbere

Package: cerbere
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gsettings-backend
Description: Pantheon WatchDog
 This package contains a watchdog daemon that launches Pantheon Shell components
 and relaunches them if they crash or get killed.
