#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson

override_dh_missing:
	dh_missing --fail-missing --list-missing

override_dh_strip:
	dh_strip -p io.elementary.cerbere --dbgsym-migration='cerbere-dbg (<< 0.2.2)'
